<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="google-site-verification" content="xjGZDJlv5IC_0CdUOiV0LVZTPGkZ_6WVyT1U6RZfTas" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/files/07-28-2020.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nikkoong98@gmail.com">nikkoong98@gmail.com</a></li>
	        		<li><a href="https://github.com/nikkoong">github.com/nikkoong</a></li>
				<li><a href="https://www.linkedin.com/in/ong-nicholas/">linkedin.com/in/ong-nicholas</a></li>
				</ul>
			</footer>
		</body>
	</html>
